<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juntcompany.fitmaker">

    <application
        android:name=".FitMaker"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
        <activity android:name=".Curation.CurationActivity" />
        <activity android:name=".Curation.RecommendActivity" />
        <activity android:name=".SpecificCurriculum.SpecificCurriculumActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Setting.SettingActivity" />
        <activity android:name=".Setting.NoticeActivity" />
        <activity android:name=".Setting.DevelopersActivity" />
        <activity android:name=".Setting.PolicyActivity" />
        <activity android:name=".play.PlayActivity" />
        <activity android:name=".play.result.ResultActivity" />
        <activity android:name=".play.result.reward.RewardActivity" />
        <activity android:name=".Friend.FriendListActivity" />
        <activity android:name=".Friend.request.FriendRequestActivity" />
        <activity android:name=".Friend.add.FriendSearchActivity"></activity>
    </application>

</manifest>
